{% from "macros/lang.html" import auto_detect_lang %}
{% macro render_blog_post(post, from_index=false) %}
  <div class="blog-post col-sm-12" lang="{{ auto_detect_lang(post.title ~ post.body|striptags) }}">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2>{{ post.title }}</h2>
  {% endif %}
  <p class="meta">
    written on {{ post.pub_date -}}
    {% if post.last_updated_date is defined -%}
      , last updated on {{ post.last_updated_date }}
    {% endif %}
  </p>
  {{ post.body }}
  {{ post.html_body }}
  </div>
{% endmacro %}
