<!DOCTYPE html>
<html lang="{% block lang %}en{% endblock %}">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ '/static/mini-default.min.css'|url }}" />
    <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}" />
    <link rel="stylesheet" href="{{ '/static/style.css'|url }}" />
    <link rel="me" href="https://chaos.social/@pixelistik" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="pixelistik — An IT Blog"
      href="{{ '/feed.xml'|url }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}pixelistik{% endblock %} — An IT Blog</title>
    <meta
      name="description"
      content="Ein Blog über IT, Agile, Projektmanagement"
    />
  </head>
  <body>
    <div class="container">
      <header class="row">
        <div class="col-sm-12 col-md-6">
          <h1>
            <a
              href="{{ '/'|url }}"
              class="button{% if this._path == '/' %} active{% endif %}"
              >pixelistik Blog</a
            >
          </h1>
        </div>
        <div class="col-sm-12 col-md-6">
          <div id="lunr-search"></div>
        </div>
      </header>
      <div class="page row">{% block body %}{% endblock %}</div>
      <footer>
        <a href="https://creativecommons.org/licenses/by/4.0/">
          Creative Commons CC BY 4.0
        </a>
        by pixelistik (unless otherwise noted) |
        <a href="http://pixelistik.de/impressum.html">Impressum</a> |
        <a href="{{ '/pages/privacy'|url }}">Datenschutz</a>
      </footer>
    </div>
    <script>
      window.env = {
        LUNR_INDEX_URL: "{{ '/static/gen/lunr-index.json'| url }}",
      };
    </script>
    <script src="{{ '/static/gen/bundle.js'| url }}"></script>
  </body>
</html>
