:root {
  --back-color: #fff;
}

.container {
  max-width: 700px;
}

header {
  height: auto;
}

code {
  padding: 0;
}

.blog-post {
  border-bottom: 1px solid var(--border-color);
}

.pagination__disabled {
  display: none;
}

.lunr-search--results {
  position: absolute;
  background-color: var(--back-color);
}

pre * {
  font-family: inherit;
}

.responsive-embed-16-9 {
  aspect-ratio: 16/9;
  width: 100%;
}
